name: RSS
on:
  schedule:
    - cron: "45 15 * * *"
  push:

jobs:
  generate_rss:
    runs-on: macOS-latest
    name: Generate RSS
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: RSS
        id: rss
        uses: ./
        with:
          yourInstagram: xrebainofdunland
          listOfInstagrams: kajalaggarwalofficial
      - name: Commit files
        if: ${{ success() && steps.rss.outputs.RSS_STATUS == 'success' }}
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -am "Updated instagram.json"
          git push
